<?xml version="1.0" encoding="utf-8"?>
<robot name="amber_b1_full_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- include macro definition -->
  <xacro:include filename="$(find amber_urdf_description)/urdf/amber_urdf.xacro"/>
  <xacro:include filename="$(find amber_urdf_description)/urdf/pr09_hand.xacro"/>
  <xacro:include filename="$(find amber_urdf_description)/urdf/amber_gazebo.xacro"/>
  <!-- <xacro:include filename="$(find amber_urdf_description)/urdf/amber_ros2_control.xacro"/>  -->

  <!-- root base -->
  <link name="base_link">
    <inertial>
      <mass value="5.0"/>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
      <inertia ixx="0.27" iyy="0.19" izz="0.10"
              ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.26 0.16 0.8"/>
      </geometry>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
      <material name="silver_box"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.26 0.16 0.8"/>
      </geometry>
      <origin xyz="0 0 0.4" rpy="0 0 0"/>
    </collision>
  </link>

  <!-- camera -->
  <link name="camera_link">
    <inertial>
      <mass value="0.2"/>
      <origin xyz="0 0 0" rpy="0 -0.8 0"/>
      <inertia ixx="0.00015" iyy="0.00005" izz="0.00012"
              ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.18 0.03"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 -0.8 0"/>
      <material name="camera"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.18 0.03"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 -0.8 0"/>
    </collision>
  </link>

  <joint name="base_camera" type="fixed">
    <origin rpy="0 0 0" xyz="0.13 0 0.9"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>


  <!-- RIGHT ARM -->
  <xacro:amber_urdf 
      prefix="right_"
      parent_link="base_link"
      x="0.0" y="-0.08" z="0.7"
      roll="1.57079" pitch="-1.57079" yaw="0"/>

  <!-- LEFT ARM -->
  <xacro:amber_urdf 
      prefix="left_"
      parent_link="base_link"
      x="0.0" y="0.08" z="0.7"
      roll="0" pitch="-1.57079" yaw="-1.57079"/>

  <!-- RIGHT HAND -->
  <xacro:pr09_hand
      prefix="right_"
      parent_link="right_TOP_1" 
      mount_x="-0.004" mount_y="0.0003" mount_z="0.0365"
      base_roll="1.57" base_pitch="-0.85" base_yaw="-1.57"/>

  <!-- LEFT HAND -->
  <xacro:pr09_hand
      prefix="left_"
      parent_link="left_TOP_1" 
      mount_x="-0.004" mount_y="-0.0003" mount_z="0.0365"
      base_roll="1.57" base_pitch="-0.85" base_yaw="-1.57"/>
</robot>